@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');
@import url('https://use.fontawesome.com/releases/v6.1.1/css/all.css');

body {
    margin: 0;
    background-color: #141d2f;
    font-family: 'Space Mono', monospace;
    color: #4B6A9B;
}

.wrapper{
    margin: 60px 400px;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
header .right{
    position: relative;
    top: 20px;
    color: #bcbcbc;
}
.title, h1,h2,h3,h4,h5,h6{
    font-weight: bold;
    color: white;
}
.title, h2{
    font-size:22px;
}
.search-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #1e2a47;
    padding: 10px;
              border-radius: 10px;
}
.search-bar input{
    text-align: left;
    position: relative;
    margin-left: 10px;
    color: white;
    background-color: #1e2a47;
    border: none;
    font-size: 21px;
    font-family: 'Space-Mono', monospace;
    width: 100%;
}
button{
    background-color: #0079ff;
    border: 2px solid #0079ff;
    border-radius: 10px;
    color: white;
    padding: 20px;
    font-family: 'Space-Mono', monospace;
}
.search-bar i{
    position: relative;
    top: 15px;
    color: #0079ff;
    font-size: 25px; 
}
main{
    display: flex;
    flex-direction: row;
    margin-top: 40px;
    background-color: #1e2a47;
    padding: 44px;
              border-radius: 10px;
}
main .left{
    width: 30%;
    position: relative;
    top: 30px;
}
main img{
    width: 100%;
}
main .right{
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    width: 100%;
}
.right .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.right .blue{
    color: #0079ff;
    position: relative;
    top: -30px;
}
.right .bio{
    position: relative;
    top: -30px;
}
.right .stats{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #141d2f;
}
.column h3{
    padding-top: -15px;
}
.info{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 20px;
}
.info .left{
    width: 130%;
}
.info .right{
    position: relative;
    top: 30px;
}
.info .right .low-item{
    position: relative;
    top: -15px;
}
.not-available{
    color: #807f7f;
}
main p{
    color: #bcbcbc;
}

header .right:hover{
    color: #4B6A9B;
    cursor: pointer;
}
button:hover{
    background-color: #64acff;
    border: 2px solid #64acff;
    cursor: pointer;
}
.info p:hover{
    text-decoration: underline;
    cursor: pointer;
}
.info .not-available:hover{
    text-decoration: none;
    cursor:auto;
}
.white {
    display: none;
}
.dark{
    display: block;
}
@media screen and (max-width: 769px){
    .wrapper{
        margin: 60px 100px;
    }
}
@media screen and (max-width: 426px){
    .wrapper{
        margin: 15px;
    }
    .search-bar input{
        width: 70%;
        font-size: 16px;
    }
    .right .top{
        flex-direction: column;
    }
    .right .info{
        flex-direction: column;
    }
    .right .stats .column{
        margin: 15px;
    }
    main .left{
        width: 100px;
        height: 100px;
        flex-grow: 1;
    }
}
@media screen and (max-width: 330px){
    .wrapper{
        margin: 10px;
    }
}